# Enable APK MIME Type & Disable Compression for APK downloads
AddType application/vnd.android.package-archive .apk

<IfModule mod_deflate.c>
    SetEnvIfNoCase Request_URI \.apk$ no-gzip dont-vary
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
